<html ng-app="watchdog">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appliance Watchdog</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <!--Icons-->
    <script src="js/lumino.glyphs.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <![endif]-->

    <!--Angular js-->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- new css-->
    <link href="css/device2.css" media="screen"
          rel="stylesheet">

</head>
<body id="meet-nest-thermostat" class="thermostat meet" ng-controller="DeviceController as dc">
<div id="main">
    <header id="main-header" class="header-bar content" data-swiftype-index="false">
        <div class="container"><a id="home-link" href="index.html" class="logo" title="Appliance Watchdog"
                                  itemprop="url">
            <img src="images/logo.jpg"></a>
            <nav id="main-nav" data-swiftype-index="false" title="Main&nbsp;navigation">
                <ul class="nav-list container" role="menubar">


                    <li class="nav-products central-nav-item" role="menuitem"><a
                                                                                 id="product-menu"
                                                                                 class="menu-item" title="Products" data-toggle="modal" data-target="#myModal">
                        Add Product</a>

                    </li>

                    <li class="nav-products central-nav-item" role="menuitem"><a
                            id="product-menu"
                            class="menu-item" title="Products" data-toggle="modal" data-target="#deleteModal">
                        Delete Product</a>

                    </li>


                </ul>
            </nav>
            <button class="menu-toggle" title="Menu"><span>Menu</span></button>
        </div>
    </header>
    <footer id="footer" class="content wrapper " style="background-color: #F2F1EF">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- <div class="panel-heading">
                        <strong>Stroked Icon Set</strong> <em>(full set available via <a href="https://glyphs.co/icons/stroked">Glyphs.co</a>)</em>
                    </div> -->
                    <div class="panel-body">

                        <div class="icon-grid">
                            <div class="col-lg-3 col-md-3 col-sm-6 " ng-repeat="appliance in appliances | filter: checked==false" style="padding: 10px">

                                <a style="font-family: 'Playfair Display', serif;font-size: 20px; color: grey" href="{{appliance.timeline}}" ng-click="storeAppId(appliance.channel_name)">{{appliance.device_name}}</a><br>
                                <br><br>
                                <img  class="svg" src="{{appliance.image}}"  style="margin: 10px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add/Delete device-->
        <div class="row">
            <div class="col-md-2">
                <!-- Trigger the modal with a button -->
                <div class="container">
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Appliance</h4>
                                </div>
                                <div class="modal-body">
                                    <!--Form-->
                                    <form novalidate class="simple-form">
                                        <input class="form-control" placeholder="Device Id" type="text" ng-model="appliance.device_id"/><br />
                                        <input class="form-control" placeholder="Device Name" type="text" ng-model="appliance.device_name"/><br />
                                        <input class="form-control" placeholder="Channel Name" type="text" ng-model="appliance.channel_name"/><br />
                                        <input class="form-control" placeholder="Device Information" type="text" ng-model="appliance.device_info"/><br />
                                        <select class="form-control" ng-model="appliance.device_type">
                                            <option  value="mobile">Mobile</option>
                                            <option value="tv">TV</option>
                                        </select>
                                        <input type="checkbox" ng-model="appliance.status" value="Active" style="padding-right: 30px">   Active<br /><br />
                                        <button type="submit" class="btn btn-primary" ng-click="add(appliance)" value="Save" >Submit Button</button>
                                        <button type="reset" class="btn btn-default" ng-click="reset()" value="Reset">Reset Button</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="findByUserId()">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--delete form -->
            <div class="col-md-2">
                <div class="container">
                                       <!-- Modal -->
                    <div class="modal fade" id="deleteModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Select the device to be deleted</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <form role="form">
                                            <div class="checkbox" ng-repeat="appliance in appliances | filter: checked==false">
                                                <label><input type="checkbox" ng-model="appliance.checked">{{appliance.device_name}}</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="remove()">Close</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </footer>
    <footer id="footer" class="content wrapper ">
        <div class="container">
            <div class="nav-block">
                <div class="left">
                    <ul role="menu" class="sub-nav">
                        <li role="menuitem">
                            <div class="sub-head"><a id="store-menu"
                                                     data-floodlight-cat="nestc424" class="sub-menu-title"
                                                     data-track-label="Store" title="Store"> Store </a></div>
                            <ul role="menu">
                                <li role="menuitem"><a
                                        data-track-label="Store - Thermostat"
                                        title="Nest&nbsp;Thermostat"> Watchdog&nbsp; TV </a></li>
                                <li role="menuitem"><a
                                        data-track-label="Store - Protect" title="Nest&nbsp;Protect">
                                    Wwatchdog&nbsp;Mobile </a></li>
                                <li role="menuitem"><a
                                        data-track-label="Store - Camera" title="Nest&nbsp;Cam"> Watchdog&nbsp;Cam </a>
                                </li>
                                <li role="menuitem"><a id="store-menu"
                                                       class="sub-menu-title" data-track-label="Store - Where To Buy"
                                                       title="Where to&nbsp;buy"> Where to&nbsp;buy </a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul role="menu" class="sub-nav">
                        <li role="menuitem">
                            <div class="sub-head">Company<span></span></div>
                            <ul role="menu">
                                <li role="menuitem"><a href="//nest.com/about/" class="" data-track-label="About us"
                                                       title="About&nbsp;us"> About&nbsp;us </a></li>
                                <li role="menuitem"><a href="//nest.com/blog/" class="" data-track-label="Blog"
                                                       title="Blog"> Blog </a></li>
                                <li role="menuitem"><a href="//nest.com/responsibility/" class=""
                                                       data-track-label="Responsibility" title="Responsibility">
                                    Responsibility </a></li>
                                <li role="menuitem"><a href="https://nest.com/careers/" class=""
                                                       data-track-label="Careers" title="Careers"> Careers </a></li>
                                <li role="menuitem"><a class="sub-menu-title" href="//nest.com/press/"
                                                       data-track-label="Press" title="Press"> Press </a></li>
                                <li role="menuitem"><a class="sub-menu-title" href="https://community.nest.com/welcome"
                                                       data-track-label="Community" title="Community"> Community </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <form action="" method="post"
                          id="footer-email-signup" class="generic-signup"><input type="email" name="email"
                                                                                 placeholder="Enter email for Watchdog&nbsp;news"
                                                                                 title="Enter email for Nest&nbsp;news"/>
                        <button class="signup-submit chevron" type="submit" title="Submit"><b>&gt;</b></button>
                        <div class="secure-statement">Private, secure,&nbsp;spam-free.</div>
                        <div class="message signup-invalid-email"><p><b>!</b>Please enter a valid email&nbsp;address.
                        </p></div>
                        <div class="message signup-server-error"><p><b>!</b>Oops! There was an error. Try&nbsp;again?
                        </p></div>
                        <div class="message signup-success"><p><b>&#x2713;</b>Success! Nest will keep you&nbsp;updated
                        </p></div>
                    </form>
                    <nav class="nl-locale-chooser">
                        <ul class="locale" aria-haspopup="true" role="menu">
                            <li role="menuitem"><a href="/choose-your-country/" class="nl-locale-chooser-link chevron"
                                                   lang="en-US" title="Change your&nbsp;country"> <span class="flag"
                                                                                                        role="img"
                                                                                                        aria-label="Change"></span>
                                <span class="locale-name"> Change&nbsp;<b>&gt;</b> </span> </a></li>
                        </ul>
                    </nav>
                    <div class="social"><a href="" title="Facebook">
                        <div class="sprite facebook small" role="img" aria-label="Facebook"></div>
                    </a> <a href="/" title="Twitter">
                        <div class="sprite twitter small" role="img" aria-label="Twitter"></div>
                    </a> <a href="" title="Pinterest">
                        <div class="sprite pinterest small" role="img" aria-label="Pinterest"></div>
                    </a> <a href="" rel="publisher" title="g+">
                        <div class="sprite google-plus small" role="img" aria-label="g+"></div>
                    </a></div>
                </div>
            </div>
            <ul class="legal" role="menu">
                <li class="copyright"> &copy; 2016 Appliance Watchdog Labs</li>
                <li role="menuitem" class="legal"><a href="" title="Legal ">
                    Legal </a></li>
                <li role="menuitem" class="privacy-policy"><a href="" title="Privacy "> Privacy </a>
                </li>
                <li role="menuitem" class="security"><a href="" title="Security "> Security </a>
                </li>
                <li role="menuitem" class="notice"><a href=""
                                                      title="Nest Protect Safety&nbsp;Notice "> AW Protect Safety&nbsp;Notice </a>
                </li>
                <li role="menuitem"><a href="" data-track-label="Contact us"
                                       title="Contact&nbsp;us "> Contact&nbsp;us </a></li>
            </ul>
        </div>
    </footer>
</div>
<!--scripts-->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
</body>
</html>
